[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"
pytest = "~=4.3.0"
pytest-cov = "*"
black = "==19.3b0"
flake8 = "~=3.7.7"
mccabe = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-quotes = "*"
flake8-comprehensions = "*"
flake8-docstrings = "*"
flake8-string-format = "*"
flake8-debugger = "*"
flake8-eradicate = "*"
flake8-bandit = "*"
flake8-print = "*"
flake8-isort = "*"
pep8-naming = "*"
autoflake = "*"
pytest-env = "*"
pre-commit = "*"
isort = "*"

[packages]
indexed-gzip = "~=0.8.8"
pyyaml = "~=5.1"
tqdm = "~=4.31.1"

[requires]
python_version = "3.7"
